
@font-face {
  font-family: 'PiximisaRegular';
  src: url('PiximisaRegular.eot?#iefix') format('embedded-opentype'),  url('PiximisaRegular.woff') format('woff'), url('PiximisaRegular.ttf')  format('truetype'), url('PiximisaRegular.svg#PiximisaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
